<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="LogXtreme Windows Desktop"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="New Thinking Technologies"
           UpgradeCode="875901D4-C083-4279-B199-4DDC0D2EBD56">

    <!--This info goes into the MSI summary information-->
    <Package InstallerVersion="300"
             Compressed="yes"
             InstallScope="perMachine"
             Description="LogXtreme Data Logger Software"
             Manufacturer="New Thinking Technologies"
             Comments="Installer for LogXtreme Data Logger Software"/>

    <!--This tells WiX to automatically assign files to cabinet files-->
    <!--The cabinet files will be embedded into the MSI file-->
    <MediaTemplate EmbedCab="yes"/>

    <!--This icon should be used for the folder that collects all the NTT shortcuts-->
    <Icon Id="ICON_ntt.ico"
          SourceFile="ntt_logo.ico"/>
    <!--The ARPPRODUCTICON sets the icon in the Add/Remove Program tool-->
    <Property Id="ARPPRODUCTICON" Value="ICON_ntt.ico" />


    <!--This icon should be used for the shortcut to the LogXtreme.WinDsk.exe-->
    <Icon Id="ICON_LogXtreme.WinDsk.exe.ico"
          SourceFile="LogXtreme.WinDsk.exe.ico"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DIR_NewThinkingTechnologies"
                   Name="New Thinking Technologies">
          <Directory Id="DIR_LogXtremeWinDsk"
                     Name="LogXtreme Windows Desktop">
          </Directory>
          <Directory Id="ProgramMenuFolder">
            <Directory Id="DIR_NewThinkingTechnologiesShortcutsDir"
                       Name="New Thinking Technologies">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="DIR_LogXtremeWinDsk">
      <Component Id="CMP_LogXtreme.WinDsk.exe"
                 Guid="A2CB9862-DF25-4509-A6C1-9F9D98B28487">
        <File Id="FILE_LogXtreme.WinDsk.exe"
              Source="./testdist/LogXtreme.WinDsk.exe"
              Name="LogXtreme.WinDsk.exe"
              Hidden="no"
              ReadOnly="no"
              Vital="yes"
              KeyPath="yes"
              Checksum="yes">
        </File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_NewThinkingTechnologiesShortcutsDir">
      <Component Id="CMP_ApplicationShortcuts"
                 Guid="BC26E859-BF5B-4106-8D28-5C6047D06E6F">
        <Shortcut Id="SHORTCUT_LogXtreme.WinDsk.exe"
                  Name="LogXtreme Data Logger Software"
                  Description="Launches LogXtreme Data Logger Software"
                  Target="[#FILE_LogXtreme.WinDsk.exe]"
                  WorkingDirectory="DIR_LogXtremeWinDsk"
                  Icon="ICON_LogXtreme.WinDsk.exe.ico"/>
        <RemoveFolder Id="DIR_NewThinkingTechnologiesShortcutsDir"
                      On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\LogXtremeWindowsDesktopDataLoggingSoftware"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!--Features contains sets of components-->
    <!--Features can be visible to the users in the installer UI-->
    <!--Components cannot be visible to the users in the installer-->
    <Feature Id="FEATURE_LogXtremeWinDsk"
             Title="LogXtreme Windows Desktop Data Logger Software"
             Description="Installs the Main Feature"
             Level="1">
      <ComponentRef Id="CMP_LogXtreme.WinDsk.exe"/>
      <ComponentRef Id="CMP_ApplicationShortcuts"/>
    </Feature>
  </Product>

  <!--<Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER"
                   Name="LogXtreme.WinDsk" />
      </Directory>
    </Directory>
  </Fragment>-->

  <!--<Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="INSTALLFOLDER">
       TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. 
       <Component Id="ProductComponent"> 
       TODO: Insert files, registry keys, and other resources here. 
       </Component> 
    </ComponentGroup>
  </Fragment>-->
</Wix>
