<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <!--Pull in all the *.wxi files-->
  <!--Built in Project reference variables http://wixtoolset.org/documentation/manual/v3/votive/votive_project_references.html-->
  <?include "Config.wxi"?>  

  <Product Id="*"
           Name="LogXtreme for Windows Desktop"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="875901D4-C083-4279-B199-4DDC0D2EBD56">

    <!--This info goes into the MSI summary information-->
    <Package InstallerVersion="300"
             Compressed="yes"
             InstallScope="perMachine"
             Description="LogXtreme Data Logger Software"
             Manufacturer="$(var.Manufacturer)"
             Comments="Installer for LogXtreme Data Logger Software"/>

    <!--
    - WixUI_Minimal
    - WixUI_Advanced
    - WixUI_FeatureTree
    - WixUI_InstallDir
    - WixUI_Mondo
    -->
    <UIRef Id="WixUI_Minimal" />

    <WixVariable Id="WixUILicenseRtf" Value="./EULAs/02.EULA.DidiSoft.rtf" /> 
     
    <!--This pulls in all the properties defined in the same file-->
    <PropertyRef Id="PROPERTY_TEST_PROPERTY_1"/>
    <PropertyRef Id="PROPERTY_DEFAULT_DIR_NEW_THINKING_TECHNOLOGIES"/>

    <!--This tells WiX to automatically assign files to cabinet files-->
    <!--The cabinet files will be embedded into the MSI file-->
    <MediaTemplate EmbedCab="yes"/>

    <!--This icon should be used for the folder that collects all the NTT shortcuts-->
    <Icon Id="ICON_NTT_LOGO"
          SourceFile="ntt_logo.ico"/>
    <!--The ARPPRODUCTICON sets the icon in the Add/Remove Program tool-->
    <Property Id="ARPPRODUCTICON" Value="ICON_NTT_LOGO" />

    <!--This icon should be used for the shortcut to the LogXtreme.WinDsk.exe-->
    <Icon Id="ICON_LOGXTREME_WIN_DSK_EXE"
          SourceFile="LogXtreme.WinDsk.exe.ico"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />  

    <!--  
    Some files may need to be added manually using this template.
    
    Refs for the File element
    http://wixtoolset.org/documentation/manual/v3/xsd/wix/file.html
    https://github.com/wixtoolset/issues/issues/5659
    -->
    <!--
    <DirectoryRef Id="DIR_LOGXTREME_WIN_DSK">
      <Component Id="CMP_SOME_COMPONENT"
                 Guid="*">
        <File Id="FILE_SOMEFILE_SOME_EXTENSION"
              Source="$(var.SourceDir)\AnyAdditionalFile.someextension"
              Name="MyAdditionalFile.extension"
              Hidden="no"
              ReadOnly="no"
              Vital="yes"
              KeyPath="yes"
              Checksum="yes">
        </File>
      </Component>
    </DirectoryRef>
    -->   
    
    <!--
    This is the main application Feature and must have Absent="disallow" to prevent
    the user to accidentally disabling the installation of the Feature via the UI
    of the installer. For this product the Advertise Mode is also not allowed.     
    -->
    <Feature Id="FEATURE_LOGXTREME_WIN_DSK"
             Absent="disallow"
             AllowAdvertise="no"
             Title="LogXtreme Data Logger Software for Windows Desktop"
             Description="Installs LogXtreme Data Logger Software for Windows Desktop"
             Level="1">
      <ComponentGroupRef Id="DistFilesComponentGroup"/>
      <ComponentGroupRef Id="ShortcutsComponentGroup"/>
    </Feature>
    
  </Product>
  
</Wix>
