<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.10.0.0">
  <Product Id="*" 
           Name="HelloWix" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="New Thinking Technologies" 
           UpgradeCode="A59F9B81-9243-43EC-98C8-11296785AFA3">
    <Package Description="Simple Demo" 
             Compressed="yes"/>
    <MediaTemplate EmbedCab="yes"/>
  </Product>
</Wix>
