<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.10.0.0">
  <Product Id="8EA23CD0-1E91-4158-B055-9EF107AA627E"
           Name="HelloWix-4"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="New Thinking Technologies"
           UpgradeCode="6FAD1568-2F3A-4AB7-879C-E0D6994EDBC4">
    <Package Description="Simple Demo With basic UI and binary assets from Chapter 2"
             Compressed="yes"
             Manufacturer="New Thinking Technologies"
             Keywords="Practice, Installer, MSI"
             Comments="Test MSI Installer HelloWix-4 by NTT"
             InstallerVersion="405"/>

    <!--This pulls in all the properties defined in the same file-->
    <PropertyRef Id="PROP_TEST_PROPERTY_1"/>

    <!--The minimal UI from WixUIExtension.dll-->
    <!--The UI tags must be children of Product-->
    <!--The UI tags must appear anywhere after tag Package-->
    <UIRef Id="WixUI_Minimal"/>
    <!--<UIRef Id="WixUI_Advanced"/>-->
    <!--<UIRef Id="WWixUI_FeatureTree"/>-->
    <!--<UIRef Id="WixUI_InstallDir"/>-->
    <!--<UIRef Id="WixUI_Mondo"/>-->

    <MediaTemplate EmbedCab="yes"/>
    <Icon Id="product_icon.ico" SourceFile="$(var.IconPath)/ntt_logo.ico"/>  

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DIR_NewThinkingTechnologies"
                   Name="NewThinkingTechnologies">
          <Directory Id="DIR_HelloWix_4"
                     Name="HelloWix-4">
            <Directory Id="DIR_CopiedFiles" 
                       Name="CopiedFiles"/>
            <Directory Id="ProgramMenuFolder">
              <Directory Id="DIR_NewThinkingTechnologiesShortCutsDir"
                         Name="NewThinkingTechnologiesShortCutsDir">         
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>        

    <Feature Id="MainProduct"
             Title="Main Product"
             Description="Installs the Main Feature and Shortcuts"
             Level="1">
      <ComponentGroupRef Id="CMPGROPUP_MAIN"/>
      <ComponentGroupRef Id="CMPGROUP_SHORTCUTS"/>
    </Feature>
  </Product>
</Wix>
