<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.10.0.0">
  <Product Id="04E730A9-0619-4439-945B-568641D1E2F6"
           Name="HelloWix-1"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="New Thinking Technologies"
           UpgradeCode="A59F9B81-9243-43EC-98C8-11296785AFA3">
    <Package Description="Simple Demo"
             Compressed="yes"
             Manufacturer="New Thinking Technologies"
             Keywords="Practice, Installer, MSI"
             Comments="Test MSI Installer HelloWix-1 by NTT"
             InstallerVersion="405"/>
    <MediaTemplate EmbedCab="yes"/>
    <Icon Id="product_icon.ico" SourceFile="ntt_logo.ico"/>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DIR_NewThinkingTechnologies"
                   Name="NewThinkingTechnologies">
          <Directory Id="DIR_HelloWix_1"
                     Name="HelloWix-1">
          </Directory>
          <Directory Id="ProgramMenuFolder">
            <Directory Id="DIR_NewThinkingTechnologiesShortCutsDir"
                       Name="NewThinkingTechnologiesShortCutsDir">
            </Directory>
          </Directory>
        </Directory>

      </Directory>
    </Directory>
    <DirectoryRef Id="DIR_HelloWix_1">
      <Component Id="CMP_Main"
                 Guid="11EB228A-F4D0-444E-82E1-10066BFB89B4">
        <File Id="FILE_Main"
              Source="Main.txt"
              Name="Application.txt"
              Hidden="no"
              ReadOnly="no"
              Vital="yes"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CMP_Second"
                 Guid="9C82DD54-A2CF-459B-A248-C4D6722DFFC1">
        <File Id="FILE_Second"
              Source="Second.txt"
              Name="Documentation.txt"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CMP_Third"
                 Guid="63908AA4-2D57-4D82-856C-D81699AF4E71">
        <File Id="FILE_Third"
              Source="Third.txt"
              Name="OptionalDocumentation.txt"
              KeyPath="yes">

        </File>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DIR_NewThinkingTechnologiesShortCutsDir">
      <Component Id="CMP_ApplicationShortcuts"
                 Guid="534FD503-4846-44C5-8238-E93EA50572DF">
        <Shortcut Id="LaunchMainProductMenuShortcut"
                  Name="HelloWix-1 Main Product Launch"
                  Description="HelloWix-1 Launch"
                  Target="[DIR_HelloWix_1]Application.txt"
                  Icon="product_icon.ico"/>
        <Shortcut Id="DocumentationStartMenuShortcut"
                  Name="HelloWix-1 Documentation"
                  Description="HelloWix-1 Documentation"
                  Target="[DIR_HelloWix_1]Documentation.txt"
                  Icon="product_icon.ico"/>
        <Shortcut Id="OptionalDocumentationStartMenuShortcut"
                  Name="HelloWix-1 Optional Documentation"
                  Description="HelloWix-1 Optional Documentation"
                  Target="[DIR_HelloWix_1]OptionalDocumentation.txt"
                  Icon="product_icon.ico"/>          
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall HelloWix-1"
                  Description="Uninstall HelloWix-1 and all its components"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Icon="product_icon.ico"/>
        <RemoveFolder Id="RemoveNewThinkingTechnologiesShortCutsDir"
                      On="uninstall"/>
        <RegistryValue Root="HKCU"
                       KeyPath="yes"
                       Key="Software\Microsoft\NewThinkingTechnologies"
                       Name="installed"
                       Type="integer"
                       Value="1"/>
      </Component>
    </DirectoryRef>
    <Feature Id="MainProduct"
             Title="Main Product"
             Description="Installs the Main Feature"
             Level="1">
      <ComponentRef Id="CMP_Main"/>
      <ComponentRef Id="CMP_Second"/>
      <ComponentRef Id="CMP_ApplicationShortcuts"/>
    </Feature>
    <Feature Id="OptionalFeature"
             Title="Optional Feature"
             Description="This Feature is optional"
             Level="1">
      <ComponentRef Id="CMP_Third"/>
    </Feature>
  </Product>
</Wix>
