<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.10.0.0">
  <Product Id="04E730A9-0619-4439-945B-568641D1E2F6"
           Name="HelloWix-1"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="New Thinking Technologies"
           UpgradeCode="A59F9B81-9243-43EC-98C8-11296785AFA3">
    <Package Description="Simple Demo"
             Compressed="yes"
             Manufacturer="New Thinking Technologies"
             Keywords="Practice, Installer, MSI"
             Comments="Test MSI Installer HelloWix-1 by NTT"
             InstallerVersion="405"/>
    <MediaTemplate EmbedCab="yes"/>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="_NewThinkingTechnologies"
                   Name="NewThinkingTechnologies">
          <Directory Id="_HelloWix-1"
                     Name="HelloWix-1">
          </Directory>
          <Directory Id="ProgramMenuFolder">
            <Directory Id="_NewThinkingTechnologiesShortCutsDir"
                       Name="NewThinkingTechnologiesShortCutsDir">              
            </Directory>
          </Directory>
        </Directory>

      </Directory>
    </Directory>
    <DirectoryRef Id="_HelloWix-1">
      <Component Id="CMP_InstallMeTXT"
                 Guid="11EB228A-F4D0-444E-82E1-10066BFB89B4">
        <File Id="FILE_InstallMeTXT"
              Source="InstallMe.txt"
              Name="InstallMe Friendly Name"
              Hidden="no"
              ReadOnly="no"
              Vital="yes"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CMP_AdditionalForMainFeature"
                 Guid="9C82DD54-A2CF-459B-A248-C4D6722DFFC1">
        <File Id="FILE_ForMainFeature1TXT"
              Source="ForMainFeature1.txt"
              Name="ForMainFeature1 Friendly Name"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CMP_ForOptionalFeature">
        <File Id="FILE_OptionalFileForFeature2TXT"
              Source="OptionalFileForFeature2.txt"
              Name="File For Otinal Feature"
              KeyPath="yes">

        </File>
      </Component>
    </DirectoryRef>
    <Feature Id="MainProduct"
             Title="Main Product"
             Description="Installs the Main Feature"
             Level="1">
      <ComponentRef Id="CMP_InstallMeTXT"/>
      <ComponentRef Id="CMP_AdditionalForMainFeature"/>
    </Feature>
    <Feature Id="OptionalFeature"
             Title="Optional Feature"
             Description="This Feature is optional"
             Level="1">
      <ComponentRef Id="CMP_ForOptionalFeature"/>
    </Feature>
  </Product>
</Wix>
