<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogXtreme.WinDsk.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <!--https://stackoverflow.com/questions/11921590/app-config-file-and-section-type-->
    <section name="modules"
             type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core"
                          publicKeyToken="94bc3704cddfc263"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0"
                         newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <LogXtreme.WinDsk.Properties.Settings>
      <setting name="ModulePath"
               serializeAs="String">
        <value>.\Modules</value>
      </setting>
    </LogXtreme.WinDsk.Properties.Settings>
  </applicationSettings>  
  <modules>
    <!--Service modules are in the namespace LogXtreme.WinDsk.Modules.Services-->
    <module assemblyFile="Modules/MenuServiceModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.Services.MenuServiceModule, MenuServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MenuServiceModule"
            startupLoaded="true">
    </module>
    <!--Application modules are in the namespace LogXtreme.WinDsk.Modules-->
    <module assemblyFile="Modules/MainMenuModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.MainMenuModule, MainMenuModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MainMenuModule"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="MenuServiceModule"/>
      </dependencies>
    </module>
  </modules>
</configuration>
