<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogXtreme.WinDsk.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <!--https://stackoverflow.com/questions/11921590/app-config-file-and-section-type-->
    <section name="modules"
             type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core"
                          publicKeyToken="94bc3704cddfc263"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0"
                         newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <LogXtreme.WinDsk.Properties.Settings>
      <setting name="ModulePath"
               serializeAs="String">
        <value>.\Modules</value>
      </setting>
    </LogXtreme.WinDsk.Properties.Settings>
  </applicationSettings>
  <modules>
    <!--Service modules are in the namespace LogXtreme.WinDsk.Modules.Services-->
    <module assemblyFile="Modules/BackgroundWorkerServiceModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.Services.BackgroundWorkerServiceModule, BackgroundWorkerServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="BackgroundWorkerServiceModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/DeviceServiceModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.Services.DeviceServiceModule, DeviceServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DeviceServiceModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/DataServiceModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.Services.DataServiceModule, DataServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DataServiceModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/MenuServiceModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.Services.MenuServiceModule, MenuServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MenuServiceModule"
            startupLoaded="true">
    </module>
    <!--Application modules are in the namespace LogXtreme.WinDsk.Modules-->
    <module assemblyFile="Modules/MainMenuModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.MainMenuModule, MainMenuModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MainMenuModule"
            startupLoaded="true">
      <dependencies>
        <!--Make sure all the application services are loaded into memory-->
        <dependency moduleName="MenuServiceModule" />
        <!--<dependency moduleName="BackgroundWorkerServiceModule" />-->
        <!--<dependency moduleName="DeviceServiceModule" />-->
        <!--<dependency moduleName="DataServiceModule" />-->
      </dependencies>
    </module>
    <module assemblyFile="Modules/MainMenuOptionsModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.MainMenuOptionsModule, MainMenuOptionsModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MainMenuOptionsModule"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="MainMenuModule" />
      </dependencies>
    </module>
    <module assemblyFile="Modules/StatusBarModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.StatusBarModule, StatusBarModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="StatusBarModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/ContentModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.ContentModule, ContentModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ContentModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/DataTreeModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.DataTreeModule, DataTreeModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DataTreeModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/DeviceTreeModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.DeviceTreeModule, DeviceTreeModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DeviceTreeModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="Modules/DataGridModule.dll"
            moduleType="LogXtreme.WinDsk.Modules.DataGridModule, DataGridModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DataGridModule"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="ContentModule" />
      </dependencies>
    </module>
  </modules>
</configuration>
