<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="HelloWix" Language="1033" Version="1.0.0.0" Manufacturer="New Thinking Technologies" UpgradeCode="123BF1E5-32A5-431F-A215-BB5CF00F3B71">
    <Package Description="Simple Demo" Compressed="yes"/>
    <MediaTemplate EmbedCab="yes"/>
  </Product>
</Wix>
